.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

    background-color: rgb(90, 90, 255);
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bolder;
}

.project-container{
    width: 100%;
    height: 100%;
    background-color: #303840;
    overflow-y: auto;
    scrollbar-width: none;
}


.green{
    color:green;
}
.red{
    color: red;
}